// Mixins in here
.buttondesign(){
    color: white;
    padding: 10px 10px;
    width: 80%;
    background-color: @eastern-blue;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.funbusanimate(){
    animation-name: funbus;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
